@using ASP.NetMVCFileUpload.HTMLHelpers

@{
    ViewBag.Title = "Upload";
}

<h2>UploadFiles</h2>

<ul>
    @{
        foreach (ViewDataUploadFilesResult v in this.ViewData.Model) {
            <li>@v.Name (@v.Length)</li>
        }
    }
</ul>
